@{
	ViewBag.ActiveTab = "Home";
}

@section Header {
	<h1>
		NuGet Repository
	</h1>
}

<div class="row">
	<div class="span10">
		<h2>Available packages</h2>
	    Click <a href="@Helpers.GetRepositoryUrl(Request.Url, Request.ApplicationPath)/Packages">here</a> to view the packages in the feed@(!User.Identity.IsAuthenticated ? " (requires authentication)" : "").
	</div>
</div>
<div class="row">
	<div class="span10">
		<h2>Use with Package Manager</h2>
		To use this feed with the package manager, add this URL to the list of package sources:
		<blockquote>@Helpers.GetRepositoryUrl(Request.Url, Request.ApplicationPath)</blockquote>
	</div>
</div>

<div class="row">
	<div class="span10">
		<h2>Administration</h2>
		@if (User.IsInRole(AvailableRoles.Administrator)) {
			<text>Administrative tasks:</text>
			<ul>
				<li><a href="@Url.Action(MVC.Users.Index())">Administer users</a></li>
				<li><a href="@Url.Action(MVC.Account.Settings())">Account settings</a></li>
			</ul>
		}
		else if (User.Identity.IsAuthenticated) {
			<a href="@Url.Action(MVC.Account.Settings())">Account settings</a>
		}
		else {
			<a href="@Url.Action(MVC.Login.Index())">Log in</a><text> to change your password, or to administer users.</text>
		}
	</div>
</div>

@*
	Comments I want to keep just in case I will later enable pushing.
    <fieldset style="width:800px">
        <legend><strong>Repository URLs</strong></legend>
        In the package manager settings, add the following URL to the list of 
        Package Sources:
        <blockquote>
            <strong>@Helpers.GetRepositoryUrl(Request.Url, Request.ApplicationPath)</strong>
        </blockquote>
        @if (String.IsNullOrEmpty(ConfigurationManager.AppSettings["apiKey"])) {
			<text>To enable pushing packages to this feed using the nuget command line tool (nuget.exe). Set the api key appSetting in web.config.</text>
        }
		else {
			<text>Use the command below to push packages to this feed using the nuget command line tool (nuget.exe).</text>
        }
        <blockquote>
            <strong>nuget push {package file} -s @Helpers.GetPushUrl(Request.Url, Request.ApplicationPath) {apikey}</strong>
        </blockquote>
    </fieldset>
	*@
